

<form action="/visits" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Ваше имя</label>
    <input type="text" class="form-control" name="exampleFormControlInput1" placeholder="Здесь могло быть ваше имя" value="<%= @cliento %>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2">Укажите дату и время</label>
    <input id="datetimepicker" type="text" class="form-control" name="exampleFormControlInput2" placeholder="" value="<%= @time %>">
  </div>
  <div class="form-group">
    <div class="form-group">
      <label for="exampleFormControlInput3">Оставьте Свой номер телефона</label>
      <input type="text" class="form-control" name="exampleFormControlInput3" placeholder="Ваш номер" value="<%= @phone %>">
    </div>
    <label for="exampleFormControlSelect1">Выберите мастера</label>
    <select class="form-control" name="exampleFormControlSelect1">
    
    <% @azaza. each do |barber|%>
      <option <%= @master == barber['barber'] ? 'selected' : '' %>><%=barber['barber']%></option>
    <% end%>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Комментарий</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ваши пожелания" rows="3"></textarea>
  </div>
  <div class="form-group">
  <label for="color">Выберите цвет чего-нибудь</label>
  <select id="color" name="color">
  <option value="#7bd148">Зелёный</option>
  <option value="#5484ed">Синий</option>
  <option value="#a4bdfc">Голубой</option>
  <option value="#46d6db">Бирюзоый</option>
  <option value="#7ae7bf">Светло-зелёный</option>
  <option value="#51b749">Тёмно-зелёный</option>
  <option value="#fbd75b">Желтый</option>
  <option value="#ffb878">Оранжевый</option>
  <option value="#ff887c">Красный</option>
  <option value="#dc2127">Тёмно-красный</option>
  <option value="#dbadff">Фиолетовый</option>
  <option value="#e1e1e1">Серый</option>
</select>
</div>


<script type="text/javascript">
$(function(){
  $('#color').simplecolorpicker();
  $('#datetimepicker').datetimepicker();
})
</script>

  <button type="submit" class="btn btn-success">Пушка</button>
</form>
